@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600&display=swap');

html{
  font-family: 'Urbanist', sans-serif;
  background-image: url(./assets/img/morty-banner2.png);
  background-repeat: repeat;
  background-size: 20%;
  background-position: 50% -10%; 
  margin-top: -10vh;
  width: 100%;
  height: 30px; 
}
body {
  margin: 0;
  background-color:#8521be;
}
h1, h2, h3, p, ul, hr {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
input, button {
  font-family: inherit;
}
input {
  outline: none;
}
button {
  cursor: pointer;
}
img {
  width: 100%;
  display: block;
}